.categorycard .swiper {
    width: 100%;
    padding: 10px 10px;
    margin-top: 20px;
    background-color: white;
  }
  .categorycard .swiper-slide {
    background-color: white;
    height: 80px;
    display: flex;
    border-radius: 10px ;
    align-items: center;
    box-shadow: 0px 0px 20px 0px whitesmoke;
    border: 0.1px solid whitesmoke;
    padding-left: 30px;
  }
  .categorycard_img {
  width: 40%;
  }
  .categorycard span {
    margin-left: 20px;
  }
  .categorycard h5 {
    margin-top: 40px;
    margin-left: 30px;
  }
  .category_card1 {
    background-color: aquamarine;
  }
 